.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  border: 1px solid var(--border);
  border-radius: var(--gutter-sm);
  background-color: var(--white);
  padding: var(--gutter) var(--gutter-lg);

  &:not(:last-of-type) {
    margin-bottom: var(--gutter-lg);
  }
}

.transactionInfoWrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--gutter-lg);
}

.transactionAmountWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.transactionExpense {
  color: var(--tertiary);
}

.transactionIncome {
  color: var(--success);
}

.transactionDateWrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--gutter);

  .transactionCategory {
    display: inherit;
    align-items: inherit;
    gap: var(--gutter-sm);
  }
}

.transactionAmount {
  font-weight: 500;
}
