.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary);
  z-index: 2;
}

.header .headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: inline-flex;
  gap: var(--gutter-lg);
}

.nav a {
  font-size: var(--font-sm);
  color: var(--white);

  &:focus {
    outline-color: inherit;
  }
}
