@import './css/tailwind';

:root {
  font-family: 'Karla', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: inherit;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  @apply bg-white;
  @apply text-zinc-800;
}
