.text {
  margin-block: 0;

  &.textXS {
    font-size: var(--font-xs);
  }

  &.textSM {
    font-size: var(--font-sm);
  }

  &.textMD {
    font-size: var(--font-md);
  }

  &.textBold {
    font-weight: var(--font-bold);
  }

  &.textLight {
    font-weight: var(--font-light);
  }

  &.textSemibold {
    font-weight: var(--font-semibold);
  }

  &.textSecondary {
    color: rgb(from var(--text) r g b / 0.8);
  }
}
