@layer components {
  .overlay {
    @apply fixed top-0 right-0 bottom-0 left-0 grid place-content-center bg-neutral-800/30 backdrop-blur-xs z-50;
  }

  .modal {
    @apply relative bg-white p-6 rounded-lg;
    animation: zoomIn 0.3s ease;

    .modal-close-btn {
      @apply absolute top-3 right-3 rounded-full p-0;
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
}
