.content {
  display: flex;
  gap: var(--gutter-xl);
}

.accounts {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gutter-xl);
  container-name: accounts;
  container-type: inline-size;
}

.account {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-xl);
  border: solid 1px var(--border);
  background-color: var(--white);
  border-radius: var(--radius-sm);
  font-weight: var(--font-normal);
  padding: var(--gutter);
  margin: 0;
  transition: box-shadow 0.2s ease;

  &:hover {
    text-decoration: none;
    box-shadow: var(--card-shadow);
  }
}

.accountHeader {
  display: flex;
  justify-content: space-between;
}

.accountName {
  font-size: var(--font-md);
  font-weight: var(--font-semibold);
  color: var(--text);
}

.accountType {
  font-size: var(--font-sm);
  color: var(--text);
}

@container accounts (width > 788px) {
  .account {
    width: 19rem;
  }
}

@container accounts (609px <= width <= 788px) {
  .account {
    width: 15rem;
  }
}

@container accounts (width <= 608px) {
  .account {
    width: 18rem;
  }
}

@container accounts (width < 369px) {
  .account {
    width: 100%;
  }
}
