.transactionList {
  margin: 0;
  padding-left: 0;
}

.transactionStickyHeader {
  position: sticky;
  top: 0;
  background-color: var(--ghost-white); /* Background color to ensure visibility */
  z-index: 10; /* Makes sure the header stays above other content */
  padding: 10px;
}
