.trackifyTextFieldOuterContainer {
  position: relative;

  .trackifyTextFieldWrapper {
    margin-top: var(--gutter-sm);
  }
}

.trackifyTextFieldInlineOuterContainer {
  display: inline-flex;
  align-items: center;
  gap: var(--gutter-lg);
}

.trackifyTextFieldLabelWrapper {
}

.trackifyTextField {
  width: 100%;
  height: 40px;
  font-size: var(--font-sm);
  color: var(--text);
  border: solid 1px transparent;
  border-radius: var(--radius-sm);
  background-color: var(--white);
  padding: var(--gutter);
  transition:
    border-color 0.2s ease,
    box-shadow 0.3s ease;

  &:focus {
    outline: 0;
    border-color: var(--primary);
    box-shadow: var(--input-shadow) rgb(from var(--primary) r g b / 0.2);
  }
}
