.avatarWrapper {
  display: inline-flex;
}

.round {
  border-radius: 50%;
}

.rounded {
  border-radius: var(--radius-sm);
}

.size-xs {
  --avatar-size: 1.5rem;
}

.size-sm {
  --avatar-size: 2rem;
}

.size-md {
  --avatar-size: 2.5rem;
}

.size-lg {
  --avatar-size: 5rem;
}

.size-xl {
  --avatar-size: 9rem;
}
