:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-normal);
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #6246ea;
  --secondary: #d1d1e9;
  --tertiary: #e45858;
  --text: #2b2c34;
  --white: #fffffe;
  --border: #d1d5db;
  --main: #eff0f2;

  --font-light: 300;
  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;

  --font-sm: 0.875rem;
  --font-md: 1rem;

  --input-shadow: 0 0 0 var(--gutter-sm);

  --card-shadow: rgb(from var(--text) r g b / 0.25) 0 1.875rem 1.875rem -1.5625rem;

  --header-height: 75px;

  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) / 2);
  --radius-lg: calc(var(--radius) * 2);

  --gutter: 0.5rem;
  --gutter-sm: calc(var(--gutter) / 2);
  --gutter-lg: calc(var(--gutter) * 2);
  --gutter-xl: calc(var(--gutter) * 3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: inherit;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--white);
}

body > div {
  width: inherit;
  height: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

a:focus,
button:focus {
  outline: solid 2px var(--primary);
  outline-offset: 2px;
}
