@import './css/tailwind';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;

  @apply font-normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #2b2c34;

  --input-shadow: 0 0 0 var(--gutter-sm);

  --card-shadow: rgb(from var(--text) r g b / 0.25) 0 1.875rem 1.875rem -1.5625rem;

  --header-height: 75px;

  --gutter: 0.5rem;
  --gutter-sm: calc(var(--gutter) / 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: inherit;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  @apply bg-white text-gray-900;
}

body > div {
  width: inherit;
  height: inherit;
}
